body {
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  font-family: "Roboto", Tahoma, sans-serif;
  color: #ffffff;
}

/*-- begin page grid --*/

.page-wrapper {
  background-color: #849d8f;
}
.wrapper {
  min-width: 900px;
  max-width: 1200px;
  margin: 0 auto;
}
.row,
.row-inline {
  padding: 0 2.3%;
}
.filters .col {
  margin: 0;
  margin-right: 15px;
}
.row::after {
  content: "";

  display: table;
  clear: both;
}
.row-inline {
  font-size: 0;
}
.row-inline::after {
  display: none;
}
.col {
  float: left;
  box-sizing: border-box;
  margin: 0 1.1%;
}

.row-inline .col {
  display: inline-block;
  float: none;

  font-size: 16px;
  vertical-align: top;
}
.row .col:first-child,
.row-inline .col:first-child {
  margin-left: 0;
}
.items-list .col:nth-child(5n) {
  margin-left: 0;
}
.row .col:last-child,
.row-inline .col:last-child {
  margin-right: 0;
}
.items-list .col:nth-child(4n) {
  margin-right: 0;
}
.s-1 {
  width: 23.35%;
}
.s-2 {
  width: 48.9%;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}
.main-nav {
  min-width: 650px;
  max-width: 850px;
  float: left;
}
.filters .filter-category,
.filters button {
  display: inline-block;

  font-size: 16px;
  vertical-align: top;
}

.header-buttons {
  float: right;
}

.header-contact-block {
  float: right;
}

.search {
  float: left;
}

.user-block {
  float: left;
}

.cart {
  float: left;
}

.footer-copyright {
  float: right;
}

.breadcrumbs {
  float: left;
}

.pagnition {
  float: right;
}
/*-- end page grid --*/


/*-- begin design elements--*/

.main-header {
  padding-top: 10px;
}
.header-logo {
  float: left;
  width: 153px;
  height: 63px;
  margin-left: -5px;
}
.promo-raspberry {
  background: url("../img/pictures/promo-1.jpg") no-repeat;
}
.promo-chocolate {
  background: url("../img/pictures/promo-2.jpg") no-repeat;
}
.catalog-item img {
  width: 100%;
}

.promo,
.main-about-us,
.blog-news,
.subscribe-form {
  padding: 20px;

  border-radius: 15px;
}
.filters {
  font-size: 0;
}

.catalog-item .catalog-image-wrapper {
  border-radius: 50%;
  overflow: hidden;
}

/*-- end design elements--*/


/*--begin headings --*/

.main-about-us h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 30px;
  color: #323232;
}
.slide h2 {
  font-weight: 900;
  font-size: 60px;
  line-height: 60px;
}

/*--end headings --*/

/*--begin menu --*/
.main-menu {
  float: left;
}

.main-menu > li {
  vertical-align: top;
  display: inline-block;
}

/*--end menu --*/
